.board-div {
  width: 400px;
  height: 400px;
  position: relative;
  font-size: 0;
}

.base-div {
  border: 1px solid black;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  display: inline-block;
}

.absolute-div {
  border: 1px solid black;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 100px;
  left: 100px;
  background: white;
}

#app{
  height: 400px;
}
